body{
  color: #000;
  font-size: 14px;
}
a{
  color: $purpur;
  outline: none;
  &:hover{
    color: #000;
  }
  &:focus{
    outline: none;
  }
}
*{
  box-sizing: border-box;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.f-row{
  display: flex;
}
.content{
  flex: 1;
  order: 2;
}
.sidebar{
  width: 255px;
  flex-shrink: 0;
  margin-right: 70px;
  order: 1;
}

.wrapper{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
.content-wrapper {
  flex: 1 0 auto;
  padding-bottom: 20px;
}

.footer{
  color: #fff;
  font-size: 12px;
  a{
    color: #fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.header{
  background-color: $purpur;
  
  a{
    text-decoration: none;
  }
  &__body{
    display: flex;
    padding: 8px 0;
    align-items: center;
    height: 97px;
  }
  &__logo{
    width: 300px;
    flex-shrink: 0;
    position: relative;
    height: 100%;
  }
  &__logo-link{
    position: absolute;
    left: 36px;
    top: 0;
  }
  &__menu{
    flex: 1;
    ul{
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        margin: 0 13px;
        font-size: 16px;
        font-family: 'Cambria', sans-serif;
        &.active{
          a{
            border-bottom: 1px dashed #fff;
          }
        }
      }
      a{
        color: #fff;
        text-decoration: none;
        transition: $anim;
        &:hover{
          border-bottom: 1px dashed #fff;
        }
      }
    }
  }
  &__contacts{
    color: $orange;
    text-align: right;
    line-height: 100%;
    font-family: 'PT Sans', sans-serif;
    a{
      color: $orange;
    }
  }
  

}

.header-phone{
  margin-top: 10px;
  margin-bottom: 5px;
  &__item{
    font-size: 20px;
    font-weight: bold;
    padding-left: 28px;
    position: relative;
    letter-spacing: -0.7px;
    &:before{
      content: "";
      display: inline-block;
      @include sprite($phone);
      position: absolute;
      left: 2px;
      top: 6px;
    }
  }
  &__code{
    font-weight: normal;
  }

}
.header-callback{
  &__item{
    border-bottom: 1px dashed #773a98;
    font-size: 12px;
    &:hover{
      border-bottom: 1px dashed $orange;
    }
  }
}

.footer{
  min-height: 260px;
  background-color: $purpur;
  color: #fff;
  padding: 58px 0 38px;
}