body{
  color: #6d6d6d;
  font-size: 14px;
}
a{
  color: $purpur;
  outline: none;
  &:hover{
    color: #000;
  }
  &:focus{
    outline: none;
  }
}
*{
  box-sizing: border-box;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.f-row{
  display: flex;
  margin-top: 26px;
  margin-left: 8px;
}
.content{
  flex: 1;
  order: 0;
  padding-top: 8px;
  padding-bottom: 30px;
}
.sidebar{
  width: 255px;
  flex-shrink: 0;
  margin-right: 70px;
  order: 1;
  padding-top: 12px;
}

.wrapper{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
.content-wrapper {
  flex: 1 0 auto;
  padding-bottom: 20px;
}
h1{
  margin: 0 0 22px 0;
}
p{
  margin: 0 0 6px 0;
  line-height: 140%;
}
.header1{
  color: $purpur;
  font-size: 26px;
  font-family: 'Cambria', sans-serif;
  font-weight: normal;
  letter-spacing: -0.1px;
}


.footer{
  color: #fff;
  font-size: 12px;
  order: 5;
  a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    transition: $anim;
    &:hover{
      text-decoration: underline;
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .f-block-1{
    width: 232px;
    margin-left: 30px;
    a{
      text-decoration: underline;
      //border-bottom: 1px solid #fff;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .f-block-2{
    width: 202px;
    a{
      text-decoration: underline;
      //border-bottom: 1px solid #fff;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .f-block-3{
    width: 185px;
    font-family: 'Cambria', sans-serif;
    font-weight: bold;
    a{
      font-size: 16px;
    }
    li{
      margin-bottom: 4px;
    }
  }
  .f-block-4{
    width: 232px;
  }
}

.f-share{
  &__item{
    padding-right: 2px;
    &--vk{
      &:before{
        content: "";
        display: inline-block;
        @include sprite($vk);
      }
    }
    &--facebook{
      &:before{
        content: "";
        display: inline-block;
        @include sprite($facebook);
      }
    }
    &--in{
      &:before{
        content: "";
        display: inline-block;
        @include sprite($instagram);
      }
    }
    &--twitter{
      &:before{
        content: "";
        display: inline-block;
        @include sprite($twitter);
      }
    }
  }
}


.header{
  background-color: $purpur;
  //margin-bottom: 64px;
  margin-bottom: 38px;
  a{
    text-decoration: none;
  }
  &__body{
    display: flex;
    padding: 8px 0;
    align-items: center;
    height: 97px;
  }
  &__logo{
    width: 300px;
    flex-shrink: 0;
    position: relative;
    height: 100%;
  }
  &__logo-link{
    position: absolute;
    left: 36px;
    top: 0;
  }
  &__menu{
    flex: 1;
    ul{
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        margin: 0 13px;
        font-size: 16px;
        font-family: 'Cambria', sans-serif;
        &.active{
          a{
            border-bottom: 1px dashed #fff;
          }
        }
      }
      a{
        color: #fff;
        text-decoration: none;
        transition: $anim;
        &:hover{
          border-bottom: 1px dashed #fff;
        }
      }
    }
  }
  &__contacts{
    color: $orange;
    text-align: right;
    line-height: 100%;
    font-family: 'PT Sans', sans-serif;
    a{
      color: $orange;
    }
  }
  &--main{
    background: #fff;
    color: $purpur;
    margin-bottom: 0;
    .header{
      &__body{
        height: 105px;
      }
      &__logo{
        width: 310px;
      }
      &__logo-link{
        left: -8px;
      }
      &__contacts{
        margin-right: 34px;
        a{
          color: $purpur;
        }
      }
      &__menu{
        margin-top: 10px;
        ul{
          a{
            color: $purpur;
            border-color: $purpur;
          }
          li.active{
            a{
              border-color: $purpur;
            }
          }
        }
      }
    }
  }

}

.header-phone{
  margin-top: 10px;
  margin-bottom: 5px;
  &__item{
    font-size: 20px;
    font-weight: bold;
    padding-left: 28px;
    position: relative;
    letter-spacing: -0.7px;
    &:before{
      content: "";
      display: inline-block;
      @include sprite($phone);
      position: absolute;
      left: 2px;
      top: 6px;
    }
  }
  &__code{
    font-weight: normal;
  }

}
.header-callback{
  &__item{
    border-bottom: 1px dashed #773a98;
    font-size: 12px;
    &:hover{
      border-bottom: 1px dashed $orange;
    }
  }
}

.footer{
  min-height: 260px;
  background-color: $purpur;
  color: #fff;
  padding: 58px 0 38px;
}

.aside-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  li{
    margin: 0;
    padding: 0;
    +li{
      border-top: 1px solid #d8d8d8;
    }
    &.active{
      a{
        color: #f4c400;
        position: relative;
        text-decoration: none;
        padding-left: 48px;
        &:before{
          content: "\f0a2";
          font-family: 'FontAwesome';
          display: inline-block;
          position: absolute;
          left: 18px;
          top: 11px;
        }
      }
    }
  }

  a{
    font-size: 14px;
    color: $purpur;
    text-decoration: none;
    display: block;
    padding: 12px 18px 8px;
    line-height: 107%;
    //transition: all 0.1s;
    &:hover{
      color: #fff;
      background-color: $purpur;
    }
  }
}