//= include/header-main.html

    <div class="land">
        <div class="container">
            <div class="land__box">
                <div class="land__girl">
                    <img src="/assets/template/img/girl.png" alt="">
                </div>
                <div class="land__info-box">
                    <div class="land__info">
                        <div class="land__caption">
                            Семейный центр<br />
                            всестороннего развития
                            <span>“Дети в Одинцово”</span>
                        </div>
                    </div>
                </div>
                <div class="land-forma">
                    <div class="land-forma__lead">
                        Запишитесь на первое бесплатное занятие
                    </div>
                    <form action="" method="post">
                        <div class="f-row">
                            <div class="land-forma__item">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="land-forma__item land-forma__item--email">
                                <input type="text" placeholder="E-mail">
                            </div>
                            <div class="land-forma__item">
                                <input type="text" placeholder="Телефон">
                            </div>
                            <div class="land-forma__item">
                                <select class="selectric">
                                    <option>Курс</option>
                                    <option>Вокал</option>
                                    <option>Шахматы</option>
                                    <option>Черчение</option>
                                </select>
                            </div>
                            <div class="land-forma__item">
                                <button type="submit">Записаться</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">

            <div class="curses">

                <div class="curses__header">Курсы</div>

                <div class="curses__list">

                    <div class="curses__item">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-1.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--scholl"></div>
                            <div class="curses__name">
                                Подготовка к школе
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item curses__item--right">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-2.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--ege"></div>
                            <div class="curses__name">
                                Подготовка к ОГЭ/ЕГЭ
                            </div>
                            <div class="curses__text">
                                <ul>
                                    <li>по русскому языку</li>
                                    <li>математике</li>
                                    <li>истории</li>
                                    <li>обществоведению</li>
                                    <li>иностранным языкам</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="curses__item">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-3.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--dance"></div>
                            <div class="curses__name">
                                Танцы
                            </div>
                            <div class="curses__text">
                                Ритмика, хореография, латинские, восточные, брейкданс, хип-хоп и др.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item curses__item--right">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-4.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--arithmetic"></div>
                            <div class="curses__name">
                                Ментальная арифметика
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-5.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--reading"></div>
                            <div class="curses__name">
                                Скорочтение и развитие памяти
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item curses__item--right">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-6.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--calligraphy"></div>
                            <div class="curses__name">
                                Каллиграфия
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-7.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--acting"></div>
                            <div class="curses__name">
                                Актерское мастерство
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item curses__item--right">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-8.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--singing"></div>
                            <div class="curses__name">
                                Вокал
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-9.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--chess"></div>
                            <div class="curses__name">
                                Шахматы
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item curses__item--right">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-10.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--drafting"></div>
                            <div class="curses__name">
                                Черчение
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="curses__item">
                        <div class="curses__image" style="background-image: url('/assets/template/img/courses-11.jpg');"></div>
                        <div class="curses__box">
                            <div class="curses__icon curses__icon--holiday"></div>
                            <div class="curses__name">
                                Организация праздников для детей
                            </div>
                            <div class="curses__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vvoluptatem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="wave">
        <div class="container">
            <div class="wave__box">


                <div class="land-forma">
                    <div class="land-forma__lead">
                        Запишитесь на первое бесплатное занятие
                    </div>
                    <form action="" method="post">
                        <div class="f-row">
                            <div class="land-forma__item">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="land-forma__item land-forma__item--email">
                                <input type="text" placeholder="E-mail">
                            </div>
                            <div class="land-forma__item">
                                <input type="text" placeholder="Телефон">
                            </div>
                            <div class="land-forma__item">
                                <select class="selectric">
                                    <option>Курс</option>
                                    <option>Вокал</option>
                                    <option>Шахматы</option>
                                    <option>Черчение</option>
                                </select>
                            </div>
                            <div class="land-forma__item">
                                <button type="submit">Записаться</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <div class="main-posts">
        <div class="container">

            <div class="f-row">
                <div class="main-post__actions">Акции</div>
                <div class="main-post__news">Новости</div>
            </div>
        </div>
    </div>




    <div class="main-gallery">
        <div class="container">
            <div class="main-gallery__slider">
                <div>
                    <img src="/assets/template/img/tmp/photogallery-1.jpg" alt="">
                </div>
                <div>
                    <img src="/assets/template/img/tmp/photogallery-2.jpg" alt="">
                </div>
                <div>
                    <img src="/assets/template/img/tmp/photogallery-3.jpg" alt="">
                </div>
                <div>
                    <img src="/assets/template/img/tmp/photogallery-4.jpg" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="main-review">
        <div class="container">
            <div class="main-review__list">
                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>

                <div>
                    <div class="main-review__item">
                        <div class="main-review__image" style="background-image: url('/assets/template/img/tmp/reviews.jpg');"></div>
                        <div class="main-review__name">Александр</div>
                        <div class="main-review__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etvelit
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

//= include/footer.html


